In [ ]:
import pandas as pd

In [ ]:
students = pd.DataFrame({
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小夏", "考试1": 90, "考试2": 92, "考试3": 93},
    "003": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "004": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "005": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "006": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95}
}).T

students

In [ ]:
students = pd.DataFrame({
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小夏", "考试1": 90, "考试2": 92, "考试3": 93},
    "003": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "004": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "005": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "006": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95}
}).T

students

In [ ]:
students = pd.DataFrame({
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小夏", "考试1": 90, "考试2": 92, "考试3": 93},
    "003": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "004": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "005": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "006": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95}
}).T

students

创建一个名为students的Dataframe 包含如下:  
要求索引为学号

{
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小夏", "考试1": 90, "考试2": 92, "考试3": 93},
    "003": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "004": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "005": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "006": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95}
}

In [ ]:
students = pd.DataFrame({
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小夏", "考试1": 90, "考试2": 92, "考试3": 93},
    "003": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "004": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "005": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95},
    "006": {"姓名": "小唐", "考试1": 88, "考试2": 90, "考试3": 95}
}).T

students

给students添加一列考试4  
数据为:[90,80,86,91,92,40]

In [ ]:
students["考试4"]=[90,80,86,91,92,40]
students
#如果是pd.Series #需要加索引
# students["考试4"]=pd.Series([90,80,86,91,92,40],index=students.index)

给students添加一行索引为007  
数据为:"小杨",91,99,81,77

In [ ]:
students.loc["007"]=["小杨",91,99,81,77]
students

删除行  
006和007的结果赋值一个新的变量不改变原有的变量

In [ ]:
new_students=students.drop(["006","007"],axis=0)#axis=0表示行，axis=1表示列这里可以省略，默认是0
new_students

删除列  
删除考试2和考试4的结果不改变本身

In [ ]:
new_students2=students.drop(["考试2","考试4"],axis=1)
new_students2

列加分  
考试2这一列加1分

In [17]:
new_students2["考试1"]=new_students2["考试1"]+2
new_students2

     姓名 考试1 考试3
001  小陈  89  92
002  小夏  94  93
003  小唐  92  95
004  小唐  92  95
005  小唐  92  95
006  小唐  92  95
007  小杨  95  81

多行列批量加分  
 
第一列加1分  
第二列加2分

In [18]:
bonus=pd.Series({"考试1":1,"考试3":2})
bonus+new_students2[["考试1","考试3"]]

    考试1 考试3
001  90  94
002  95  95
003  93  97
004  93  97
005  93  97
006  93  97
007  96  83